@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 23.75rem;
  --breakpoint-m: 34.375rem;
}


@font-face {
    font-family: 'Zain';
    src: url('/src/assets/fonts/zain/Zain-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Zain';
    src: url('/src/assets/fonts/zain/Zain-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Zain';
    src: url('/src/assets/fonts/zain/Zain-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  


body{
    background: #f8f8ff;
    font-family: 'Zain', sans-serif;
    font: #111827;
}
